/*
2005.01.29

Стиль настроек для Януса, задуман для оформления всего, отличного по виду
от сайта. Чтобы цвета и пр. стилевые атрибуты не хардкорить в коде, но
хардкорить селекторы. :o)
*/
body
{
		border-style: none;
		background-color: white;
		color: black;
		font-family: verdana, tahoma, helvetica, arial;
/*		margin: 2px;*/
		padding: 0px 0px;
		font-size: 14px !important;
}
.himg
{
		width: 16px;
		height: 16px;
		vertical-align: middle;
		border-width: 0px;
}
.header
{
		font-family: verdana, tahoma, helvetica, arial;
		background-color: #FFFFF4;
		font-size: 13px;
		text-align: left;
		padding: 1px 5px;
}
.outdate
{
/*		font-family: verdana, tahoma, helvetica, arial;
		background-color: #FFFFF4;
		padding: 1px 5px; */
		color: Gray;
}
.normaldate
{
		color: Black;
}
/* Тело форм с информацией */
.ibody
{
		border-style: none;
		background-color: white;
		color: black;
		font-family: verdana, tahoma, helvetica, arial;
		padding: 5px 5px;
		font-size: 12px;
}
/* Тело сообщения с ошибкой */
.ebody
{
	border-style: none;
	background-color: White;
	color: black;
	font-family: verdana, tahoma, helvetica, arial;
	margin: 10px;
	padding: 5px 5px;
	font-size: x-small;
}
/* Подпись для страницы с ошибкой */
.etail
{
	color: black;
	font-family: verdana, tahoma, helvetica, arial;
	font-size: 13px;
	font-style: italic;
}
/* Трассировка стека для страницы с ошибкой */
.etrace
{
	color: black;
	background-color: #EEEEEE;
	font-family: verdana, tahoma, helvetica, arial;
	font-size: small;
}

/* Панель оценок */
.rate-box {
	float: right;
	border: 1px solid #339933;
}

.rate-box table {
	font-family: verdana, tahoma, helvetica, arial;
	font-size: 11px;
}

.rate-box table td {
	padding: 3px;
}

.normalrate
{
	font-family: verdana, tahoma, helvetica, arial;
	font-size: 13px;
}
.hdr
{
		background-color: #E0F0E0;
/*		font-size: xx-small;*/
		text-align: center;
}
.even
{
		background-color: #F4FFF4;
/*		font-size: xx-small;*/
}
.uneven
{
		background-color: #E4FFF4;
/*		font-size: xx-small;*/
}
.nimg
{
		vertical-align: middle;
		border-width: 0px;
}
.ralign
{
		text-align: right;
}
.bold
{
		font-weight:bold;
}
/* Таблица карточки пользователя  */
.utable
{
		font-family: verdana, tahoma, helvetica, arial;
		font-size: x-small;
		background-color: #cfe5f0;
}
/* Неподписанные форумы в статистике  */
.frmuns
{
		color: maroon;
}

.m {
	font-size: 13px !important;
}

.o {
	font-size: 13px !important;
}
