<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Rsdn.Janus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="Janus.Rsdn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Rsdn.Janus.Properties.Settings>
   <setting name="Janus_WebService_JanusAT" serializeAs="String">
    <value>http://rsdn.ru/WS/JanusAT.asmx</value>
   </setting>
   <setting name="Janus_Rsdn_org_rsdn_JanusAT" serializeAs="String">
    <value>http://localhost:8888/ws/JanusAT.asmx</value>
   </setting>
  </Rsdn.Janus.Properties.Settings>
  <Janus.Rsdn.Properties.Settings>
			<setting name="Janus_WebService_JanusAT" serializeAs="String">
				<value>http://rsdn.ru/WS/JanusAT.asmx</value>
			</setting>
		</Janus.Rsdn.Properties.Settings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CodeJam" publicKeyToken="7662d8fd5b220919" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
