<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Rsdn.Janus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="Janus.Rsdn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Rsdn.Janus.Properties.Settings>
   <setting name="Janus_WebService_JanusAT" serializeAs="String">
    <value>http://rsdn.ru/WS/JanusAT.asmx</value>
   </setting>
   <setting name="Janus_Rsdn_org_rsdn_JanusAT" serializeAs="String">
    <value>http://rsdn.org:8888/ws/JanusAT.asmx</value>
   </setting>
  </Rsdn.Janus.Properties.Settings>
  <Janus.Rsdn.Properties.Settings>
			<setting name="Janus_WebService_JanusAT" serializeAs="String">
				<value>http://rsdn.ru/WS/JanusAT.asmx</value>
			</setting>
		</Janus.Rsdn.Properties.Settings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
