<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Janus.WebService.JanusSvc" value="http://rsdn.ru/ws/Janus.asmx" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- Off, Error, Warning, Info, Verbose -->
      <add name="EntryPoint" value="Verbose" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<clear/>-->
        <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="JanusDebug.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CodeJam" publicKeyToken="7662d8fd5b220919" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
