<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Janus.WebService.JanusSvc" value="http://rsdn.ru/ws/Janus.asmx"/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- Off, Error, Warning, Info, Verbose -->
      <add name="EntryPoint" value="Verbose"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<clear/>-->
        <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="JanusDebug.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
